extends layout 

block content 

    h1 Become a member 
    p Enter the correct passcode to gain member status 
    p Who is the rector's name of the Alcoholics University of Lisika?
    form(action="" method='POST') 
        label(for="passcode") Passcode 
        input#passcode(type="text" name="passcode")
        button(type="submit") Submit 