extends layout 

block content 
    div(class='form-container')
        h1 Become an admin 

        p Enter the correct passcode to gain admin status 

        p This time there are no hints 

        form(action="" class='become-member-form' method='POST') 
            label(for="adminPasscode")
            input#adminPasscode(type="text" name="adminPasscode")
            button(type="submit") Submit
