extends layout 

block content 

    h1 Become a member 
    p Enter the correct passcode to gain member status 
    p What is my favorite music genre?
    form(action="" method='POST') 
        label(for="passcode") Passcode 
        input#passcode(type="text" name="passcode")
        button(type="submit") Submit 

