extends layout 

block content 

    h1 Log in 
    form(action="/log-in" method='POST')
        label(for="email") Email 
        input#email(type="email" name="email")
        label(for="password") Password 
        input#password(type="password" name="password") 
        button Log In 