extends layout 

block content 



    div(class='form-container')

        h1 New
            span#subheader  Message 

        p#para Hello, 
            span#subheader #{currentUser.username}

        p#para What's on
            span#subheader  your mind?

        form(action="" class='form' method='POST')
            label(for="title") Title 
            input#title(type="text" name="title" required)
            label(for="content") Content 
            textarea#content(name="content" cols="30" rows="10" required) 
            div(class='log-in-btn-container')
                button(type="submit" class='new-msg-btn') Submit  



