extends layout 

block content 

    h1 New message 

    h2 Hello, #{currentUser.username}

    h3 What's on your mind?

    form(action="" method='POST')
        label(for="title") Title 
        input#title(type="text" name="title")
        label(for="content") Content 
        input#content(type="text" name="content")
    button(type="submit") Submit  



