extends layout 

block content 

    div(class='form-container')

        h1 New message 

        p Hello, #{currentUser.username}

        p What's on your mind?

        form(action="" class='form' method='POST')
            label(for="title") Title 
            input#title(type="text" name="title" required)
            label(for="content") Content 
            textarea#content(name="content" cols="30" rows="10" required) 
            div(class='log-in-btn-container')
                button(type="submit") Submit  



