* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  /* outline: 2px solid black; */
  /* height: 20vh; */
  height: 100px;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.navbar {
  /* outline: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  color: #f7f9f9;
  font-size: 14px;
}

.navbar-svg {
  width: 30px;
}

.main-content-container {
  /* outline: 2px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 15px;
}

.message-container {
  /* outline: 2px solid black; */
  padding: 20px;
  line-height: 20px;
}

.delete-msg-button {
  margin-top: 5px;
  padding: 6px 8px 6px 8px;
  margin-bottom: 5px;
  background-color: #641ae6;
  color: #f7f9f9;
  border: 0;
}

.delete-msg-button:hover {
  cursor: pointer;
}

.message-content {
  background-color: #0f0f0f;
  margin-bottom: 20px;
  width: 400px;
  color: #f7f9f9;
}

.form-container {
  /* outline: 2px solid red; */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
}

input {
  display: flex;
  margin-bottom: 10px;
  width: 300px;
}

.form-content {
  display: flex;
  flex-direction: column;
}

.submit-btn {
  /* margin-top: 10px; */
  background-color: #641ae6;
  color: #f7f9f9;
  border: 0;
}

.log-in-btn-container {
  display: flex;
  justify-content: center;
}

p {
  margin: 10px 0px 10px 0px;
}

.form {
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
}

.become-member-form {
  width: 300px;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #1d232a;
}

#header {
  color: #641ae6;
}

h1,
h2,
h3,
h4,
h5 {
  color: #f7f9f9;
}

h4,
h5 {
  font-size: 16px;
}

#subheader {
  color: #d926a9;
}

.message-content > p {
  margin-left: 20px;
  padding: 5px 0px 5px 0px;
}

#admin-mode {
  color: #1fb2a6;
}

#admin-mode > span {
  color: #f7f9f9;
}

form > p,
.delete-msg-button {
  margin-left: 20px;
}

form > p {
  padding: 5px 0px 5px 0px;
}

label {
  color: #f7f9f9;
  margin-top: 10px;
}

.submit-btn:hover {
  cursor: pointer;
}

.log-in-btn {
  background-color: #641ae6;
  color: #f7f9f9;
  width: 300px;
  border: 0;
}

.log-in-btn:hover {
  cursor: pointer;
}

#para {
  color: #f7f9f9;
}

.new-msg-btn {
  margin-top: 10px;
  background-color: #d926a9;
  color: #f7f9f9;
  width: 300px;
  border: 0;
}

.new-msg-btn:hover {
  cursor: pointer;
}

a:visited {
  color: #641ae6;
}

.admin-mode-btn {
  background-color: #1fb2a6;
  color: #f7f9f9;
  border: 0;
}

.admin-mode-btn:hover {
  cursor: pointer;
}
